li {
    list-style-type: none;
}

.buttonPanel {
    position: sticky;
    top: 0;
    z-index: 1000;
    color: black;
    padding: 5%;
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-width: 90%;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

body {
    margin-top: 0;  
    min-width: 15rem;

}

.hidden {
    display: none;
}

input[type="file"] {
    display: none;
}

label {
    width: 90%;
    text-align: center;
}

.drive-file-grid {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    width: 90%;
    align-items: center;
}

.drive-file-tile {
    display: flex;

    justify-content: flex-start;
    padding: 0.5rem;

    border-bottom: 1px solid #ccc;

    transition: background 0.2s ease-in-out;
    cursor: pointer;
    width: 100%;
  }
  

  
  .drive-file-tile .icon {
    margin-right: 10px;
    cursor: pointer;
  }
  
  .drive-file-tile .drive-file-name {
    flex-grow: 1;
    text-align: center;
  }
  
  .drive-file-tile .icon.delete {
    margin-left: auto; /* Aligns delete to the far right */
    color: red;
  }
  

.bookmark-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.bookmark-left {
    display: flex;
    align-items: center;
    flex: 1;
    gap: 6px;
}

.bookmark-left span,
.bookmark-left a,
.bookmark-left input {
    vertical-align: middle;
    line-height: 1.2;
}

.panelButton {
    width: 90%;
}

